<table border="0" class="dataframe table">
  <thead>
    <tr>
      <th>date</th>
      <th colspan="3" halign="left">2020-11-27</th>
      <th colspan="3" halign="left">2020-11-26</th>
    </tr>
    <tr>
      <th>measure</th>
      <th>rank</th>
      <th>move</th>
      <th>level</th>
      <th>rank</th>
      <th>move</th>
      <th>level</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><a href="gempng/Vaals.png">Vaals</a></th>
      <td>1</td>
      <td>5</td>
      <td>4.00</td>
      <td>6</td>
      <td>26</td>
      <td>2.40</td>
    </tr>
    <tr>
      <th><a href="gempng/Appingedam.png">Appingedam</a></th>
      <td>2</td>
      <td>-1</td>
      <td>3.50</td>
      <td>1</td>
      <td>0</td>
      <td>4.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Dronten.png">Dronten</a></th>
      <td>3</td>
      <td>6</td>
      <td>2.59</td>
      <td>9</td>
      <td>2</td>
      <td>2.15</td>
    </tr>
    <tr>
      <th><a href="gempng/Noordenveld.png">Noordenveld</a></th>
      <td>4</td>
      <td>3</td>
      <td>2.53</td>
      <td>7</td>
      <td>3</td>
      <td>2.33</td>
    </tr>
    <tr>
      <th><a href="gempng/Westerwolde.png">Westerwolde</a></th>
      <td>5</td>
      <td>-1</td>
      <td>2.41</td>
      <td>4</td>
      <td>0</td>
      <td>2.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Bergeijk.png">Bergeijk</a></th>
      <td>6</td>
      <td>2</td>
      <td>2.35</td>
      <td>8</td>
      <td>10</td>
      <td>2.16</td>
    </tr>
    <tr>
      <th><a href="gempng/Rozendaal.png">Rozendaal</a></th>
      <td>7</td>
      <td>5</td>
      <td>2.33</td>
      <td>12</td>
      <td>-7</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Delfzijl.png">Delfzijl</a></th>
      <td>8</td>
      <td>-5</td>
      <td>2.18</td>
      <td>3</td>
      <td>-1</td>
      <td>3.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Zwartewaterland.png">Zwartewaterland</a></th>
      <td>9</td>
      <td>8</td>
      <td>2.14</td>
      <td>17</td>
      <td>28</td>
      <td>1.83</td>
    </tr>
    <tr>
      <th><a href="gempng/Scherpenzeel.png">Scherpenzeel</a></th>
      <td>10</td>
      <td>12</td>
      <td>2.07</td>
      <td>22</td>
      <td>-14</td>
      <td>1.72</td>
    </tr>
    <tr>
      <th><a href="gempng/Harlingen.png">Harlingen</a></th>
      <td>11</td>
      <td>77</td>
      <td>2.00</td>
      <td>88</td>
      <td>160</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th><a href="gempng/Vlieland.png">Vlieland</a></th>
      <td>12</td>
      <td>-1</td>
      <td>2.00</td>
      <td>11</td>
      <td>139</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Reimerswaal.png">Reimerswaal</a></th>
      <td>13</td>
      <td>2</td>
      <td>2.00</td>
      <td>15</td>
      <td>6</td>
      <td>1.90</td>
    </tr>
    <tr>
      <th><a href="gempng/Kapelle.png">Kapelle</a></th>
      <td>14</td>
      <td>83</td>
      <td>2.00</td>
      <td>97</td>
      <td>138</td>
      <td>1.14</td>
    </tr>
    <tr>
      <th><a href="gempng/Westerkwartier.png">Westerkwartier</a></th>
      <td>15</td>
      <td>5</td>
      <td>2.00</td>
      <td>20</td>
      <td>-3</td>
      <td>1.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Midden%5C-Groningen.png">Midden-Groningen</a></th>
      <td>16</td>
      <td>-11</td>
      <td>1.96</td>
      <td>5</td>
      <td>-2</td>
      <td>2.61</td>
    </tr>
    <tr>
      <th><a href="gempng/Castricum.png">Castricum</a></th>
      <td>17</td>
      <td>13</td>
      <td>1.87</td>
      <td>30</td>
      <td>27</td>
      <td>1.60</td>
    </tr>
    <tr>
      <th><a href="gempng/Borger%5C-Odoorn.png">Borger-Odoorn</a></th>
      <td>18</td>
      <td>16</td>
      <td>1.73</td>
      <td>34</td>
      <td>52</td>
      <td>1.53</td>
    </tr>
    <tr>
      <th><a href="gempng/Bergen%5C%20%5C%28NH%5C.%5C%29.png">Bergen (NH.)</a></th>
      <td>19</td>
      <td>-3</td>
      <td>1.73</td>
      <td>16</td>
      <td>11</td>
      <td>1.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Ooststellingwerf.png">Ooststellingwerf</a></th>
      <td>20</td>
      <td>11</td>
      <td>1.72</td>
      <td>31</td>
      <td>-15</td>
      <td>1.59</td>
    </tr>
    <tr>
      <th><a href="gempng/Elburg.png">Elburg</a></th>
      <td>21</td>
      <td>-11</td>
      <td>1.71</td>
      <td>10</td>
      <td>-4</td>
      <td>2.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Urk.png">Urk</a></th>
      <td>22</td>
      <td>6</td>
      <td>1.70</td>
      <td>28</td>
      <td>1</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th><a href="gempng/Noordoostpolder.png">Noordoostpolder</a></th>
      <td>23</td>
      <td>-5</td>
      <td>1.64</td>
      <td>18</td>
      <td>7</td>
      <td>1.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Kampen.png">Kampen</a></th>
      <td>24</td>
      <td>12</td>
      <td>1.62</td>
      <td>36</td>
      <td>-5</td>
      <td>1.51</td>
    </tr>
    <tr>
      <th><a href="gempng/Someren.png">Someren</a></th>
      <td>25</td>
      <td>-4</td>
      <td>1.60</td>
      <td>21</td>
      <td>-12</td>
      <td>1.75</td>
    </tr>
    <tr>
      <th><a href="gempng/Landgraaf.png">Landgraaf</a></th>
      <td>26</td>
      <td>7</td>
      <td>1.58</td>
      <td>33</td>
      <td>15</td>
      <td>1.53</td>
    </tr>
    <tr>
      <th><a href="gempng/Wageningen.png">Wageningen</a></th>
      <td>27</td>
      <td>8</td>
      <td>1.57</td>
      <td>35</td>
      <td>-16</td>
      <td>1.52</td>
    </tr>
    <tr>
      <th><a href="gempng/Oldambt.png">Oldambt</a></th>
      <td>28</td>
      <td>9</td>
      <td>1.57</td>
      <td>37</td>
      <td>102</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th><a href="gempng/Assen.png">Assen</a></th>
      <td>29</td>
      <td>-15</td>
      <td>1.55</td>
      <td>14</td>
      <td>12</td>
      <td>1.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Bunschoten.png">Bunschoten</a></th>
      <td>30</td>
      <td>-4</td>
      <td>1.55</td>
      <td>26</td>
      <td>20</td>
      <td>1.64</td>
    </tr>
    <tr>
      <th><a href="gempng/Aa%5C%20en%5C%20Hunze.png">Aa en Hunze</a></th>
      <td>31</td>
      <td>-18</td>
      <td>1.54</td>
      <td>13</td>
      <td>10</td>
      <td>2.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Het%5C%20Hogeland.png">Het Hogeland</a></th>
      <td>32</td>
      <td>37</td>
      <td>1.53</td>
      <td>69</td>
      <td>61</td>
      <td>1.25</td>
    </tr>
    <tr>
      <th><a href="gempng/Valkenswaard.png">Valkenswaard</a></th>
      <td>33</td>
      <td>31</td>
      <td>1.52</td>
      <td>64</td>
      <td>17</td>
      <td>1.27</td>
    </tr>
    <tr>
      <th><a href="gempng/Baarle%5C-Nassau.png">Baarle-Nassau</a></th>
      <td>34</td>
      <td>14</td>
      <td>1.52</td>
      <td>48</td>
      <td>12</td>
      <td>1.37</td>
    </tr>
    <tr>
      <th><a href="gempng/Duiven.png">Duiven</a></th>
      <td>35</td>
      <td>-6</td>
      <td>1.51</td>
      <td>29</td>
      <td>-1</td>
      <td>1.61</td>
    </tr>
    <tr>
      <th><a href="gempng/Oegstgeest.png">Oegstgeest</a></th>
      <td>36</td>
      <td>-13</td>
      <td>1.50</td>
      <td>23</td>
      <td>-11</td>
      <td>1.71</td>
    </tr>
    <tr>
      <th><a href="gempng/Heemstede.png">Heemstede</a></th>
      <td>37</td>
      <td>20</td>
      <td>1.50</td>
      <td>57</td>
      <td>69</td>
      <td>1.32</td>
    </tr>
    <tr>
      <th><a href="gempng/Gennep.png">Gennep</a></th>
      <td>38</td>
      <td>20</td>
      <td>1.49</td>
      <td>58</td>
      <td>8</td>
      <td>1.31</td>
    </tr>
    <tr>
      <th><a href="gempng/Opsterland.png">Opsterland</a></th>
      <td>39</td>
      <td>36</td>
      <td>1.49</td>
      <td>75</td>
      <td>-21</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th><a href="gempng/Velsen.png">Velsen</a></th>
      <td>40</td>
      <td>12</td>
      <td>1.44</td>
      <td>52</td>
      <td>25</td>
      <td>1.34</td>
    </tr>
    <tr>
      <th><a href="gempng/Altena.png">Altena</a></th>
      <td>41</td>
      <td>19</td>
      <td>1.43</td>
      <td>60</td>
      <td>-9</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th><a href="gempng/Cranendonck.png">Cranendonck</a></th>
      <td>42</td>
      <td>17</td>
      <td>1.43</td>
      <td>59</td>
      <td>35</td>
      <td>1.30</td>
    </tr>
    <tr>
      <th><a href="gempng/Rhenen.png">Rhenen</a></th>
      <td>43</td>
      <td>-11</td>
      <td>1.43</td>
      <td>32</td>
      <td>8</td>
      <td>1.54</td>
    </tr>
    <tr>
      <th><a href="gempng/Gulpen%5C-Wittem.png">Gulpen-Wittem</a></th>
      <td>44</td>
      <td>9</td>
      <td>1.42</td>
      <td>53</td>
      <td>80</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th><a href="gempng/Veendam.png">Veendam</a></th>
      <td>45</td>
      <td>-5</td>
      <td>1.41</td>
      <td>40</td>
      <td>-2</td>
      <td>1.45</td>
    </tr>
    <tr>
      <th><a href="gempng/Valkenburg%5C%20aan%5C%20de%5C%20Geul.png">Valkenburg aan de Geul</a></th>
      <td>46</td>
      <td>-27</td>
      <td>1.40</td>
      <td>19</td>
      <td>1</td>
      <td>1.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Culemborg.png">Culemborg</a></th>
      <td>47</td>
      <td>-8</td>
      <td>1.39</td>
      <td>39</td>
      <td>2</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th><a href="gempng/Kaag%5C%20en%5C%20Braassem.png">Kaag en Braassem</a></th>
      <td>48</td>
      <td>-1</td>
      <td>1.38</td>
      <td>47</td>
      <td>-13</td>
      <td>1.38</td>
    </tr>
    <tr>
      <th><a href="gempng/Putten.png">Putten</a></th>
      <td>49</td>
      <td>-25</td>
      <td>1.37</td>
      <td>24</td>
      <td>9</td>
      <td>1.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Neder%5C-Betuwe.png">Neder-Betuwe</a></th>
      <td>50</td>
      <td>-25</td>
      <td>1.37</td>
      <td>25</td>
      <td>-18</td>
      <td>1.68</td>
    </tr>
    <tr>
      <th><a href="gempng/Nederweert.png">Nederweert</a></th>
      <td>51</td>
      <td>41</td>
      <td>1.37</td>
      <td>92</td>
      <td>16</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th><a href="gempng/Zeewolde.png">Zeewolde</a></th>
      <td>52</td>
      <td>19</td>
      <td>1.36</td>
      <td>71</td>
      <td>43</td>
      <td>1.24</td>
    </tr>
    <tr>
      <th><a href="gempng/Stein.png">Stein</a></th>
      <td>53</td>
      <td>136</td>
      <td>1.35</td>
      <td>189</td>
      <td>70</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Utrechtse%5C%20Heuvelrug.png">Utrechtse Heuvelrug</a></th>
      <td>54</td>
      <td>53</td>
      <td>1.34</td>
      <td>107</td>
      <td>28</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th><a href="gempng/Eijsden%5C-Margraten.png">Eijsden-Margraten</a></th>
      <td>55</td>
      <td>54</td>
      <td>1.33</td>
      <td>109</td>
      <td>167</td>
      <td>1.10</td>
    </tr>
    <tr>
      <th><a href="gempng/Terschelling.png">Terschelling</a></th>
      <td>56</td>
      <td>-54</td>
      <td>1.33</td>
      <td>2</td>
      <td>0</td>
      <td>3.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Meppel.png">Meppel</a></th>
      <td>57</td>
      <td>33</td>
      <td>1.33</td>
      <td>90</td>
      <td>109</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th><a href="gempng/Meerssen.png">Meerssen</a></th>
      <td>58</td>
      <td>47</td>
      <td>1.33</td>
      <td>105</td>
      <td>83</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th><a href="gempng/Son%5C%20en%5C%20Breugel.png">Son en Breugel</a></th>
      <td>59</td>
      <td>-4</td>
      <td>1.33</td>
      <td>55</td>
      <td>-18</td>
      <td>1.32</td>
    </tr>
    <tr>
      <th><a href="gempng/Eersel.png">Eersel</a></th>
      <td>60</td>
      <td>1</td>
      <td>1.33</td>
      <td>61</td>
      <td>13</td>
      <td>1.29</td>
    </tr>
    <tr>
      <th><a href="gempng/Veenendaal.png">Veenendaal</a></th>
      <td>61</td>
      <td>9</td>
      <td>1.32</td>
      <td>70</td>
      <td>-3</td>
      <td>1.25</td>
    </tr>
    <tr>
      <th><a href="gempng/Staphorst.png">Staphorst</a></th>
      <td>62</td>
      <td>18</td>
      <td>1.31</td>
      <td>80</td>
      <td>-16</td>
      <td>1.21</td>
    </tr>
    <tr>
      <th><a href="gempng/De%5C%20Wolden.png">De Wolden</a></th>
      <td>63</td>
      <td>30</td>
      <td>1.30</td>
      <td>93</td>
      <td>100</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th><a href="gempng/Haaksbergen.png">Haaksbergen</a></th>
      <td>64</td>
      <td>-13</td>
      <td>1.29</td>
      <td>51</td>
      <td>12</td>
      <td>1.34</td>
    </tr>
    <tr>
      <th><a href="gempng/Schagen.png">Schagen</a></th>
      <td>65</td>
      <td>-11</td>
      <td>1.29</td>
      <td>54</td>
      <td>-1</td>
      <td>1.33</td>
    </tr>
    <tr>
      <th><a href="gempng/Gilze%5C%20en%5C%20Rijen.png">Gilze en Rijen</a></th>
      <td>66</td>
      <td>-10</td>
      <td>1.27</td>
      <td>56</td>
      <td>-1</td>
      <td>1.32</td>
    </tr>
    <tr>
      <th><a href="gempng/Losser.png">Losser</a></th>
      <td>67</td>
      <td>16</td>
      <td>1.27</td>
      <td>83</td>
      <td>-36</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th><a href="gempng/Heiloo.png">Heiloo</a></th>
      <td>68</td>
      <td>-23</td>
      <td>1.24</td>
      <td>45</td>
      <td>13</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th><a href="gempng/Tubbergen.png">Tubbergen</a></th>
      <td>69</td>
      <td>49</td>
      <td>1.23</td>
      <td>118</td>
      <td>-13</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Oude%5C%20IJsselstreek.png">Oude IJsselstreek</a></th>
      <td>70</td>
      <td>67</td>
      <td>1.22</td>
      <td>137</td>
      <td>-28</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th><a href="gempng/Coevorden.png">Coevorden</a></th>
      <td>71</td>
      <td>-30</td>
      <td>1.22</td>
      <td>41</td>
      <td>20</td>
      <td>1.45</td>
    </tr>
    <tr>
      <th><a href="gempng/Heeze%5C-Leende.png">Heeze-Leende</a></th>
      <td>72</td>
      <td>-45</td>
      <td>1.22</td>
      <td>27</td>
      <td>-14</td>
      <td>1.63</td>
    </tr>
    <tr>
      <th><a href="gempng/De%5C%20Fryske%5C%20Marren.png">De Fryske Marren</a></th>
      <td>73</td>
      <td>78</td>
      <td>1.22</td>
      <td>151</td>
      <td>-79</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Geertruidenberg.png">Geertruidenberg</a></th>
      <td>74</td>
      <td>-12</td>
      <td>1.20</td>
      <td>62</td>
      <td>-48</td>
      <td>1.29</td>
    </tr>
    <tr>
      <th><a href="gempng/Beesel.png">Beesel</a></th>
      <td>75</td>
      <td>237</td>
      <td>1.20</td>
      <td>312</td>
      <td>-2</td>
      <td>0.68</td>
    </tr>
    <tr>
      <th><a href="gempng/Maastricht.png">Maastricht</a></th>
      <td>76</td>
      <td>26</td>
      <td>1.20</td>
      <td>102</td>
      <td>5</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th><a href="gempng/Laarbeek.png">Laarbeek</a></th>
      <td>77</td>
      <td>-35</td>
      <td>1.19</td>
      <td>42</td>
      <td>-3</td>
      <td>1.43</td>
    </tr>
    <tr>
      <th><a href="gempng/Albrandswaard.png">Albrandswaard</a></th>
      <td>78</td>
      <td>63</td>
      <td>1.19</td>
      <td>141</td>
      <td>-7</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th><a href="gempng/Sittard%5C-Geleen.png">Sittard-Geleen</a></th>
      <td>79</td>
      <td>51</td>
      <td>1.18</td>
      <td>130</td>
      <td>73</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th><a href="gempng/Opmeer.png">Opmeer</a></th>
      <td>80</td>
      <td>149</td>
      <td>1.18</td>
      <td>229</td>
      <td>-12</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Leeuwarden.png">Leeuwarden</a></th>
      <td>81</td>
      <td>-4</td>
      <td>1.18</td>
      <td>77</td>
      <td>-12</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th><a href="gempng/Epe.png">Epe</a></th>
      <td>82</td>
      <td>-17</td>
      <td>1.18</td>
      <td>65</td>
      <td>34</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th><a href="gempng/Best.png">Best</a></th>
      <td>83</td>
      <td>93</td>
      <td>1.17</td>
      <td>176</td>
      <td>42</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Gouda.png">Gouda</a></th>
      <td>84</td>
      <td>-6</td>
      <td>1.17</td>
      <td>78</td>
      <td>-22</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th><a href="gempng/Hillegom.png">Hillegom</a></th>
      <td>85</td>
      <td>-18</td>
      <td>1.17</td>
      <td>67</td>
      <td>11</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th><a href="gempng/Deventer.png">Deventer</a></th>
      <td>86</td>
      <td>10</td>
      <td>1.16</td>
      <td>96</td>
      <td>8</td>
      <td>1.15</td>
    </tr>
    <tr>
      <th><a href="gempng/Horst%5C%20aan%5C%20de%5C%20Maas.png">Horst aan de Maas</a></th>
      <td>87</td>
      <td>-15</td>
      <td>1.16</td>
      <td>72</td>
      <td>11</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th><a href="gempng/Woudenberg.png">Woudenberg</a></th>
      <td>88</td>
      <td>-38</td>
      <td>1.15</td>
      <td>50</td>
      <td>82</td>
      <td>1.35</td>
    </tr>
    <tr>
      <th><a href="gempng/Zoeterwoude.png">Zoeterwoude</a></th>
      <td>89</td>
      <td>-43</td>
      <td>1.15</td>
      <td>46</td>
      <td>-4</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th><a href="gempng/Hoeksche%5C%20Waard.png">Hoeksche Waard</a></th>
      <td>90</td>
      <td>34</td>
      <td>1.15</td>
      <td>124</td>
      <td>-26</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/IJsselstein.png">IJsselstein</a></th>
      <td>91</td>
      <td>-23</td>
      <td>1.14</td>
      <td>68</td>
      <td>5</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th><a href="gempng/Loppersum.png">Loppersum</a></th>
      <td>92</td>
      <td>-19</td>
      <td>1.14</td>
      <td>73</td>
      <td>160</td>
      <td>1.23</td>
    </tr>
    <tr>
      <th><a href="gempng/West%5C%20Betuwe.png">West Betuwe</a></th>
      <td>93</td>
      <td>22</td>
      <td>1.14</td>
      <td>115</td>
      <td>1</td>
      <td>1.07</td>
    </tr>
    <tr>
      <th><a href="gempng/Zandvoort.png">Zandvoort</a></th>
      <td>94</td>
      <td>58</td>
      <td>1.14</td>
      <td>152</td>
      <td>87</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Waadhoeke.png">Waadhoeke</a></th>
      <td>95</td>
      <td>-57</td>
      <td>1.14</td>
      <td>38</td>
      <td>-14</td>
      <td>1.46</td>
    </tr>
    <tr>
      <th><a href="gempng/Landerd.png">Landerd</a></th>
      <td>96</td>
      <td>50</td>
      <td>1.13</td>
      <td>146</td>
      <td>2</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Halderberge.png">Halderberge</a></th>
      <td>97</td>
      <td>36</td>
      <td>1.13</td>
      <td>133</td>
      <td>-38</td>
      <td>1.03</td>
    </tr>
    <tr>
      <th><a href="gempng/Uden.png">Uden</a></th>
      <td>98</td>
      <td>1</td>
      <td>1.13</td>
      <td>99</td>
      <td>-28</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th><a href="gempng/Doetinchem.png">Doetinchem</a></th>
      <td>99</td>
      <td>54</td>
      <td>1.12</td>
      <td>153</td>
      <td>22</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Den%5C%20Helder.png">Den Helder</a></th>
      <td>100</td>
      <td>-15</td>
      <td>1.12</td>
      <td>85</td>
      <td>-55</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th><a href="gempng/Arnhem.png">Arnhem</a></th>
      <td>101</td>
      <td>18</td>
      <td>1.12</td>
      <td>119</td>
      <td>-18</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Sint%5C%20Anthonis.png">Sint Anthonis</a></th>
      <td>102</td>
      <td>-58</td>
      <td>1.12</td>
      <td>44</td>
      <td>5</td>
      <td>1.40</td>
    </tr>
    <tr>
      <th><a href="gempng/Haarlem.png">Haarlem</a></th>
      <td>103</td>
      <td>28</td>
      <td>1.12</td>
      <td>131</td>
      <td>61</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th><a href="gempng/Winterswijk.png">Winterswijk</a></th>
      <td>104</td>
      <td>18</td>
      <td>1.11</td>
      <td>122</td>
      <td>-9</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Lelystad.png">Lelystad</a></th>
      <td>105</td>
      <td>70</td>
      <td>1.11</td>
      <td>175</td>
      <td>15</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Boxtel.png">Boxtel</a></th>
      <td>106</td>
      <td>28</td>
      <td>1.10</td>
      <td>134</td>
      <td>-75</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th><a href="gempng/Lochem.png">Lochem</a></th>
      <td>107</td>
      <td>-58</td>
      <td>1.10</td>
      <td>49</td>
      <td>-27</td>
      <td>1.36</td>
    </tr>
    <tr>
      <th><a href="gempng/Middelburg.png">Middelburg</a></th>
      <td>108</td>
      <td>75</td>
      <td>1.10</td>
      <td>183</td>
      <td>1</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Oisterwijk.png">Oisterwijk</a></th>
      <td>109</td>
      <td>7</td>
      <td>1.09</td>
      <td>116</td>
      <td>-24</td>
      <td>1.07</td>
    </tr>
    <tr>
      <th><a href="gempng/Heerlen.png">Heerlen</a></th>
      <td>110</td>
      <td>70</td>
      <td>1.09</td>
      <td>180</td>
      <td>69</td>
      <td>0.94</td>
    </tr>
    <tr>
      <th><a href="gempng/Ouder%5C-Amstel.png">Ouder-Amstel</a></th>
      <td>111</td>
      <td>52</td>
      <td>1.09</td>
      <td>163</td>
      <td>87</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Leiderdorp.png">Leiderdorp</a></th>
      <td>112</td>
      <td>-21</td>
      <td>1.08</td>
      <td>91</td>
      <td>-9</td>
      <td>1.16</td>
    </tr>
    <tr>
      <th><a href="gempng/Cuijk.png">Cuijk</a></th>
      <td>113</td>
      <td>80</td>
      <td>1.08</td>
      <td>193</td>
      <td>2</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Bodegraven%5C-Reeuwijk.png">Bodegraven-Reeuwijk</a></th>
      <td>114</td>
      <td>-11</td>
      <td>1.08</td>
      <td>103</td>
      <td>-51</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th><a href="gempng/Diemen.png">Diemen</a></th>
      <td>115</td>
      <td>21</td>
      <td>1.06</td>
      <td>136</td>
      <td>69</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th><a href="gempng/Nunspeet.png">Nunspeet</a></th>
      <td>116</td>
      <td>-53</td>
      <td>1.06</td>
      <td>63</td>
      <td>-28</td>
      <td>1.28</td>
    </tr>
    <tr>
      <th><a href="gempng/Ermelo.png">Ermelo</a></th>
      <td>117</td>
      <td>-51</td>
      <td>1.06</td>
      <td>66</td>
      <td>-51</td>
      <td>1.26</td>
    </tr>
    <tr>
      <th><a href="gempng/Beek.png">Beek</a></th>
      <td>118</td>
      <td>-37</td>
      <td>1.06</td>
      <td>81</td>
      <td>21</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th><a href="gempng/Dongen.png">Dongen</a></th>
      <td>119</td>
      <td>59</td>
      <td>1.06</td>
      <td>178</td>
      <td>-41</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Heumen.png">Heumen</a></th>
      <td>120</td>
      <td>-77</td>
      <td>1.05</td>
      <td>43</td>
      <td>-7</td>
      <td>1.42</td>
    </tr>
    <tr>
      <th><a href="gempng/Nijkerk.png">Nijkerk</a></th>
      <td>121</td>
      <td>17</td>
      <td>1.05</td>
      <td>138</td>
      <td>-53</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th><a href="gempng/Terneuzen.png">Terneuzen</a></th>
      <td>122</td>
      <td>139</td>
      <td>1.05</td>
      <td>261</td>
      <td>-125</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Vught.png">Vught</a></th>
      <td>123</td>
      <td>63</td>
      <td>1.05</td>
      <td>186</td>
      <td>56</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Zuidplas.png">Zuidplas</a></th>
      <td>124</td>
      <td>-16</td>
      <td>1.05</td>
      <td>108</td>
      <td>-40</td>
      <td>1.11</td>
    </tr>
    <tr>
      <th><a href="gempng/Eindhoven.png">Eindhoven</a></th>
      <td>125</td>
      <td>45</td>
      <td>1.05</td>
      <td>170</td>
      <td>0</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th><a href="gempng/Uithoorn.png">Uithoorn</a></th>
      <td>126</td>
      <td>-28</td>
      <td>1.05</td>
      <td>98</td>
      <td>21</td>
      <td>1.14</td>
    </tr>
    <tr>
      <th><a href="gempng/Wassenaar.png">Wassenaar</a></th>
      <td>127</td>
      <td>-4</td>
      <td>1.04</td>
      <td>123</td>
      <td>87</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Bladel.png">Bladel</a></th>
      <td>128</td>
      <td>88</td>
      <td>1.04</td>
      <td>216</td>
      <td>83</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Lingewaard.png">Lingewaard</a></th>
      <td>129</td>
      <td>33</td>
      <td>1.04</td>
      <td>162</td>
      <td>51</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Westervoort.png">Westervoort</a></th>
      <td>130</td>
      <td>-44</td>
      <td>1.04</td>
      <td>86</td>
      <td>-43</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th><a href="gempng/Westland.png">Westland</a></th>
      <td>131</td>
      <td>-49</td>
      <td>1.04</td>
      <td>82</td>
      <td>5</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th><a href="gempng/Bunnik.png">Bunnik</a></th>
      <td>132</td>
      <td>-28</td>
      <td>1.03</td>
      <td>104</td>
      <td>-34</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th><a href="gempng/Zwolle.png">Zwolle</a></th>
      <td>133</td>
      <td>67</td>
      <td>1.03</td>
      <td>200</td>
      <td>58</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th><a href="gempng/Molenlanden.png">Molenlanden</a></th>
      <td>134</td>
      <td>-9</td>
      <td>1.02</td>
      <td>125</td>
      <td>-37</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Maassluis.png">Maassluis</a></th>
      <td>135</td>
      <td>-61</td>
      <td>1.02</td>
      <td>74</td>
      <td>5</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th><a href="gempng/Woensdrecht.png">Woensdrecht</a></th>
      <td>136</td>
      <td>-19</td>
      <td>1.02</td>
      <td>117</td>
      <td>-67</td>
      <td>1.07</td>
    </tr>
    <tr>
      <th><a href="gempng/Zutphen.png">Zutphen</a></th>
      <td>137</td>
      <td>-25</td>
      <td>1.02</td>
      <td>112</td>
      <td>43</td>
      <td>1.09</td>
    </tr>
    <tr>
      <th><a href="gempng/Renkum.png">Renkum</a></th>
      <td>138</td>
      <td>58</td>
      <td>1.01</td>
      <td>196</td>
      <td>19</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Nuenen%2C%5C%20Gerwen%5C%20en%5C%20Nederwetten.png">Nuenen, Gerwen en Nederwetten</a></th>
      <td>139</td>
      <td>-33</td>
      <td>1.01</td>
      <td>106</td>
      <td>-22</td>
      <td>1.12</td>
    </tr>
    <tr>
      <th><a href="gempng/Leusden.png">Leusden</a></th>
      <td>140</td>
      <td>-46</td>
      <td>1.01</td>
      <td>94</td>
      <td>-18</td>
      <td>1.15</td>
    </tr>
    <tr>
      <th><a href="gempng/Nieuwegein.png">Nieuwegein</a></th>
      <td>141</td>
      <td>14</td>
      <td>1.01</td>
      <td>155</td>
      <td>-26</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Buren.png">Buren</a></th>
      <td>142</td>
      <td>5</td>
      <td>1.00</td>
      <td>147</td>
      <td>91</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Hellendoorn.png">Hellendoorn</a></th>
      <td>143</td>
      <td>56</td>
      <td>1.00</td>
      <td>199</td>
      <td>-33</td>
      <td>0.90</td>
    </tr>
    <tr>
      <th><a href="gempng/Tilburg.png">Tilburg</a></th>
      <td>144</td>
      <td>1</td>
      <td>1.00</td>
      <td>145</td>
      <td>-27</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Nieuwkoop.png">Nieuwkoop</a></th>
      <td>145</td>
      <td>27</td>
      <td>1.00</td>
      <td>172</td>
      <td>-79</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th><a href="gempng/Borne.png">Borne</a></th>
      <td>146</td>
      <td>-26</td>
      <td>1.00</td>
      <td>120</td>
      <td>38</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Stichtse%5C%20Vecht.png">Stichtse Vecht</a></th>
      <td>147</td>
      <td>-33</td>
      <td>1.00</td>
      <td>114</td>
      <td>6</td>
      <td>1.08</td>
    </tr>
    <tr>
      <th><a href="gempng/Heerenveen.png">Heerenveen</a></th>
      <td>147</td>
      <td>2</td>
      <td>1.00</td>
      <td>149</td>
      <td>-29</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Ommen.png">Ommen</a></th>
      <td>149</td>
      <td>75</td>
      <td>1.00</td>
      <td>224</td>
      <td>102</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Hoorn.png">Hoorn</a></th>
      <td>150</td>
      <td>6</td>
      <td>1.00</td>
      <td>156</td>
      <td>15</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Hollands%5C%20Kroon.png">Hollands Kroon</a></th>
      <td>151</td>
      <td>-50</td>
      <td>0.99</td>
      <td>101</td>
      <td>-1</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th><a href="gempng/Wijk%5C%20bij%5C%20Duurstede.png">Wijk bij Duurstede</a></th>
      <td>152</td>
      <td>-73</td>
      <td>0.99</td>
      <td>79</td>
      <td>-35</td>
      <td>1.21</td>
    </tr>
    <tr>
      <th><a href="gempng/Ridderkerk.png">Ridderkerk</a></th>
      <td>153</td>
      <td>31</td>
      <td>0.99</td>
      <td>184</td>
      <td>14</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Almere.png">Almere</a></th>
      <td>154</td>
      <td>7</td>
      <td>0.99</td>
      <td>161</td>
      <td>36</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Baarn.png">Baarn</a></th>
      <td>155</td>
      <td>-28</td>
      <td>0.99</td>
      <td>127</td>
      <td>-36</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th><a href="gempng/Harderwijk.png">Harderwijk</a></th>
      <td>156</td>
      <td>51</td>
      <td>0.99</td>
      <td>207</td>
      <td>-83</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th><a href="gempng/Haaren.png">Haaren</a></th>
      <td>157</td>
      <td>-17</td>
      <td>0.99</td>
      <td>140</td>
      <td>-18</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th><a href="gempng/Geldrop%5C-Mierlo.png">Geldrop-Mierlo</a></th>
      <td>158</td>
      <td>2</td>
      <td>0.99</td>
      <td>160</td>
      <td>-16</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Voorst.png">Voorst</a></th>
      <td>159</td>
      <td>-48</td>
      <td>0.99</td>
      <td>111</td>
      <td>41</td>
      <td>1.09</td>
    </tr>
    <tr>
      <th><a href="gempng/Katwijk.png">Katwijk</a></th>
      <td>160</td>
      <td>60</td>
      <td>0.98</td>
      <td>220</td>
      <td>4</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Amstelveen.png">Amstelveen</a></th>
      <td>161</td>
      <td>36</td>
      <td>0.98</td>
      <td>197</td>
      <td>55</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Ede.png">Ede</a></th>
      <td>162</td>
      <td>4</td>
      <td>0.98</td>
      <td>166</td>
      <td>-76</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Bergen%5C%20%5C%28L%5C.%5C%29.png">Bergen (L.)</a></th>
      <td>163</td>
      <td>172</td>
      <td>0.98</td>
      <td>335</td>
      <td>10</td>
      <td>0.53</td>
    </tr>
    <tr>
      <th><a href="gempng/Tytsjerksteradiel.png">Tytsjerksteradiel</a></th>
      <td>164</td>
      <td>-38</td>
      <td>0.98</td>
      <td>126</td>
      <td>-23</td>
      <td>1.05</td>
    </tr>
    <tr>
      <th><a href="gempng/Etten%5C-Leur.png">Etten-Leur</a></th>
      <td>165</td>
      <td>-30</td>
      <td>0.98</td>
      <td>135</td>
      <td>-23</td>
      <td>1.02</td>
    </tr>
    <tr>
      <th><a href="gempng/Meierijstad.png">Meierijstad</a></th>
      <td>166</td>
      <td>16</td>
      <td>0.97</td>
      <td>182</td>
      <td>-35</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Westvoorne.png">Westvoorne</a></th>
      <td>167</td>
      <td>-35</td>
      <td>0.97</td>
      <td>132</td>
      <td>138</td>
      <td>1.03</td>
    </tr>
    <tr>
      <th><a href="gempng/Zoetermeer.png">Zoetermeer</a></th>
      <td>168</td>
      <td>-25</td>
      <td>0.97</td>
      <td>143</td>
      <td>39</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Wormerland.png">Wormerland</a></th>
      <td>169</td>
      <td>115</td>
      <td>0.97</td>
      <td>284</td>
      <td>25</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Emmen.png">Emmen</a></th>
      <td>170</td>
      <td>4</td>
      <td>0.97</td>
      <td>174</td>
      <td>93</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Haarlemmermeer.png">Haarlemmermeer</a></th>
      <td>171</td>
      <td>-29</td>
      <td>0.97</td>
      <td>142</td>
      <td>74</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th><a href="gempng/Venray.png">Venray</a></th>
      <td>172</td>
      <td>49</td>
      <td>0.97</td>
      <td>221</td>
      <td>42</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Steenwijkerland.png">Steenwijkerland</a></th>
      <td>173</td>
      <td>60</td>
      <td>0.96</td>
      <td>233</td>
      <td>-7</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Amersfoort.png">Amersfoort</a></th>
      <td>174</td>
      <td>-6</td>
      <td>0.96</td>
      <td>168</td>
      <td>-37</td>
      <td>0.97</td>
    </tr>
    <tr>
      <th><a href="gempng/Heemskerk.png">Heemskerk</a></th>
      <td>175</td>
      <td>-80</td>
      <td>0.96</td>
      <td>95</td>
      <td>54</td>
      <td>1.15</td>
    </tr>
    <tr>
      <th><a href="gempng/Loon%5C%20op%5C%20Zand.png">Loon op Zand</a></th>
      <td>176</td>
      <td>37</td>
      <td>0.96</td>
      <td>213</td>
      <td>-35</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Leiden.png">Leiden</a></th>
      <td>177</td>
      <td>31</td>
      <td>0.96</td>
      <td>208</td>
      <td>-43</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th><a href="gempng/Roosendaal.png">Roosendaal</a></th>
      <td>178</td>
      <td>25</td>
      <td>0.96</td>
      <td>203</td>
      <td>-27</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th><a href="gempng/Oudewater.png">Oudewater</a></th>
      <td>179</td>
      <td>-103</td>
      <td>0.95</td>
      <td>76</td>
      <td>30</td>
      <td>1.22</td>
    </tr>
    <tr>
      <th><a href="gempng/Midden%5C-Delfland.png">Midden-Delfland</a></th>
      <td>180</td>
      <td>-96</td>
      <td>0.95</td>
      <td>84</td>
      <td>5</td>
      <td>1.18</td>
    </tr>
    <tr>
      <th><a href="gempng/Amsterdam.png">Amsterdam</a></th>
      <td>181</td>
      <td>-12</td>
      <td>0.95</td>
      <td>169</td>
      <td>40</td>
      <td>0.97</td>
    </tr>
    <tr>
      <th><a href="gempng/Papendrecht.png">Papendrecht</a></th>
      <td>182</td>
      <td>-69</td>
      <td>0.95</td>
      <td>113</td>
      <td>41</td>
      <td>1.09</td>
    </tr>
    <tr>
      <th><a href="gempng/Apeldoorn.png">Apeldoorn</a></th>
      <td>183</td>
      <td>19</td>
      <td>0.95</td>
      <td>202</td>
      <td>20</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th><a href="gempng/Langedijk.png">Langedijk</a></th>
      <td>184</td>
      <td>39</td>
      <td>0.95</td>
      <td>223</td>
      <td>-36</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Helmond.png">Helmond</a></th>
      <td>185</td>
      <td>-28</td>
      <td>0.95</td>
      <td>157</td>
      <td>4</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Woerden.png">Woerden</a></th>
      <td>186</td>
      <td>-57</td>
      <td>0.94</td>
      <td>129</td>
      <td>-18</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th><a href="gempng/Goirle.png">Goirle</a></th>
      <td>187</td>
      <td>-8</td>
      <td>0.94</td>
      <td>179</td>
      <td>-64</td>
      <td>0.94</td>
    </tr>
    <tr>
      <th><a href="gempng/Barendrecht.png">Barendrecht</a></th>
      <td>188</td>
      <td>-11</td>
      <td>0.94</td>
      <td>177</td>
      <td>-34</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Tynaarlo.png">Tynaarlo</a></th>
      <td>189</td>
      <td>-25</td>
      <td>0.94</td>
      <td>164</td>
      <td>80</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Stadskanaal.png">Stadskanaal</a></th>
      <td>190</td>
      <td>-31</td>
      <td>0.93</td>
      <td>159</td>
      <td>0</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Zeist.png">Zeist</a></th>
      <td>191</td>
      <td>-70</td>
      <td>0.93</td>
      <td>121</td>
      <td>21</td>
      <td>1.06</td>
    </tr>
    <tr>
      <th><a href="gempng/Weststellingwerf.png">Weststellingwerf</a></th>
      <td>192</td>
      <td>65</td>
      <td>0.93</td>
      <td>257</td>
      <td>-1</td>
      <td>0.79</td>
    </tr>
    <tr>
      <th><a href="gempng/Oldebroek.png">Oldebroek</a></th>
      <td>193</td>
      <td>-106</td>
      <td>0.93</td>
      <td>87</td>
      <td>-7</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th><a href="gempng/Lansingerland.png">Lansingerland</a></th>
      <td>194</td>
      <td>4</td>
      <td>0.93</td>
      <td>198</td>
      <td>36</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Gorinchem.png">Gorinchem</a></th>
      <td>195</td>
      <td>-51</td>
      <td>0.93</td>
      <td>144</td>
      <td>-69</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Enschede.png">Enschede</a></th>
      <td>196</td>
      <td>53</td>
      <td>0.92</td>
      <td>249</td>
      <td>-47</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Tholen.png">Tholen</a></th>
      <td>197</td>
      <td>38</td>
      <td>0.92</td>
      <td>235</td>
      <td>-94</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Uitgeest.png">Uitgeest</a></th>
      <td>198</td>
      <td>-98</td>
      <td>0.91</td>
      <td>100</td>
      <td>23</td>
      <td>1.13</td>
    </tr>
    <tr>
      <th><a href="gempng/S%C3%BAdwest%5C-Frysl%C3%A2n.png">Súdwest-Fryslân</a></th>
      <td>199</td>
      <td>-26</td>
      <td>0.91</td>
      <td>173</td>
      <td>-104</td>
      <td>0.95</td>
    </tr>
    <tr>
      <th><a href="gempng/Deurne.png">Deurne</a></th>
      <td>200</td>
      <td>-46</td>
      <td>0.91</td>
      <td>154</td>
      <td>-16</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Medemblik.png">Medemblik</a></th>
      <td>201</td>
      <td>-43</td>
      <td>0.91</td>
      <td>158</td>
      <td>-13</td>
      <td>0.99</td>
    </tr>
    <tr>
      <th><a href="gempng/Koggenland.png">Koggenland</a></th>
      <td>202</td>
      <td>-35</td>
      <td>0.91</td>
      <td>167</td>
      <td>-10</td>
      <td>0.97</td>
    </tr>
    <tr>
      <th><a href="gempng/Voorschoten.png">Voorschoten</a></th>
      <td>203</td>
      <td>-53</td>
      <td>0.91</td>
      <td>149</td>
      <td>56</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Heusden.png">Heusden</a></th>
      <td>204</td>
      <td>33</td>
      <td>0.91</td>
      <td>237</td>
      <td>-56</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Leudal.png">Leudal</a></th>
      <td>205</td>
      <td>81</td>
      <td>0.91</td>
      <td>286</td>
      <td>3</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Wierden.png">Wierden</a></th>
      <td>206</td>
      <td>30</td>
      <td>0.90</td>
      <td>236</td>
      <td>17</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Noordwijk.png">Noordwijk</a></th>
      <td>207</td>
      <td>37</td>
      <td>0.90</td>
      <td>244</td>
      <td>-134</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th><a href="gempng/Oosterhout.png">Oosterhout</a></th>
      <td>208</td>
      <td>24</td>
      <td>0.90</td>
      <td>232</td>
      <td>-76</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Nissewaard.png">Nissewaard</a></th>
      <td>209</td>
      <td>-28</td>
      <td>0.90</td>
      <td>181</td>
      <td>26</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Oostzaan.png">Oostzaan</a></th>
      <td>210</td>
      <td>33</td>
      <td>0.89</td>
      <td>243</td>
      <td>62</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th><a href="gempng/Weert.png">Weert</a></th>
      <td>211</td>
      <td>76</td>
      <td>0.89</td>
      <td>287</td>
      <td>8</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Wijchen.png">Wijchen</a></th>
      <td>212</td>
      <td>62</td>
      <td>0.89</td>
      <td>274</td>
      <td>-5</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Dinkelland.png">Dinkelland</a></th>
      <td>213</td>
      <td>4</td>
      <td>0.89</td>
      <td>217</td>
      <td>-50</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Rijswijk.png">Rijswijk</a></th>
      <td>214</td>
      <td>-9</td>
      <td>0.89</td>
      <td>205</td>
      <td>-31</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th><a href="gempng/Boxmeer.png">Boxmeer</a></th>
      <td>215</td>
      <td>-20</td>
      <td>0.88</td>
      <td>195</td>
      <td>-67</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Aalten.png">Aalten</a></th>
      <td>216</td>
      <td>9</td>
      <td>0.88</td>
      <td>225</td>
      <td>53</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Overbetuwe.png">Overbetuwe</a></th>
      <td>217</td>
      <td>-107</td>
      <td>0.88</td>
      <td>110</td>
      <td>7</td>
      <td>1.09</td>
    </tr>
    <tr>
      <th><a href="gempng/Barneveld.png">Barneveld</a></th>
      <td>218</td>
      <td>-27</td>
      <td>0.88</td>
      <td>191</td>
      <td>-19</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Asten.png">Asten</a></th>
      <td>219</td>
      <td>-130</td>
      <td>0.88</td>
      <td>89</td>
      <td>-27</td>
      <td>1.17</td>
    </tr>
    <tr>
      <th><a href="gempng/Goeree%5C-Overflakkee.png">Goeree-Overflakkee</a></th>
      <td>220</td>
      <td>-28</td>
      <td>0.88</td>
      <td>192</td>
      <td>9</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Maasdriel.png">Maasdriel</a></th>
      <td>221</td>
      <td>-3</td>
      <td>0.87</td>
      <td>218</td>
      <td>-18</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Zaanstad.png">Zaanstad</a></th>
      <td>222</td>
      <td>-8</td>
      <td>0.87</td>
      <td>214</td>
      <td>-28</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Schiedam.png">Schiedam</a></th>
      <td>223</td>
      <td>-14</td>
      <td>0.87</td>
      <td>209</td>
      <td>18</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th><a href="gempng/Alkmaar.png">Alkmaar</a></th>
      <td>224</td>
      <td>-23</td>
      <td>0.87</td>
      <td>201</td>
      <td>27</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th><a href="gempng/Breda.png">Breda</a></th>
      <td>225</td>
      <td>-21</td>
      <td>0.87</td>
      <td>204</td>
      <td>-36</td>
      <td>0.89</td>
    </tr>
    <tr>
      <th><a href="gempng/%27s%5C-Hertogenbosch.png">'s-Hertogenbosch</a></th>
      <td>226</td>
      <td>2</td>
      <td>0.87</td>
      <td>228</td>
      <td>-43</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Bernheze.png">Bernheze</a></th>
      <td>227</td>
      <td>-40</td>
      <td>0.87</td>
      <td>187</td>
      <td>-10</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Dordrecht.png">Dordrecht</a></th>
      <td>228</td>
      <td>-6</td>
      <td>0.86</td>
      <td>222</td>
      <td>-11</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Berg%5C%20en%5C%20Dal.png">Berg en Dal</a></th>
      <td>229</td>
      <td>62</td>
      <td>0.85</td>
      <td>291</td>
      <td>25</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th><a href="gempng/Raalte.png">Raalte</a></th>
      <td>230</td>
      <td>16</td>
      <td>0.85</td>
      <td>246</td>
      <td>20</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th><a href="gempng/Druten.png">Druten</a></th>
      <td>231</td>
      <td>16</td>
      <td>0.85</td>
      <td>247</td>
      <td>55</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th><a href="gempng/Dantumadiel.png">Dantumadiel</a></th>
      <td>232</td>
      <td>2</td>
      <td>0.85</td>
      <td>234</td>
      <td>-70</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Capelle%5C%20aan%5C%20den%5C%20IJssel.png">Capelle aan den IJssel</a></th>
      <td>233</td>
      <td>40</td>
      <td>0.85</td>
      <td>273</td>
      <td>13</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Smallingerland.png">Smallingerland</a></th>
      <td>234</td>
      <td>21</td>
      <td>0.85</td>
      <td>255</td>
      <td>49</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Steenbergen.png">Steenbergen</a></th>
      <td>235</td>
      <td>28</td>
      <td>0.85</td>
      <td>263</td>
      <td>-112</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Hengelo.png">Hengelo</a></th>
      <td>236</td>
      <td>14</td>
      <td>0.85</td>
      <td>250</td>
      <td>-5</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Twenterand.png">Twenterand</a></th>
      <td>237</td>
      <td>-10</td>
      <td>0.85</td>
      <td>227</td>
      <td>-15</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Beekdaelen.png">Beekdaelen</a></th>
      <td>238</td>
      <td>-110</td>
      <td>0.84</td>
      <td>128</td>
      <td>-31</td>
      <td>1.04</td>
    </tr>
    <tr>
      <th><a href="gempng/Enkhuizen.png">Enkhuizen</a></th>
      <td>239</td>
      <td>15</td>
      <td>0.84</td>
      <td>254</td>
      <td>-25</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Groningen.png">Groningen</a></th>
      <td>240</td>
      <td>-52</td>
      <td>0.84</td>
      <td>188</td>
      <td>33</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Venlo.png">Venlo</a></th>
      <td>241</td>
      <td>38</td>
      <td>0.84</td>
      <td>279</td>
      <td>5</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Hoogeveen.png">Hoogeveen</a></th>
      <td>242</td>
      <td>-48</td>
      <td>0.84</td>
      <td>194</td>
      <td>53</td>
      <td>0.91</td>
    </tr>
    <tr>
      <th><a href="gempng/Oldenzaal.png">Oldenzaal</a></th>
      <td>243</td>
      <td>42</td>
      <td>0.84</td>
      <td>285</td>
      <td>-145</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Achtkarspelen.png">Achtkarspelen</a></th>
      <td>244</td>
      <td>-79</td>
      <td>0.83</td>
      <td>165</td>
      <td>-3</td>
      <td>0.98</td>
    </tr>
    <tr>
      <th><a href="gempng/Waddinxveen.png">Waddinxveen</a></th>
      <td>245</td>
      <td>-34</td>
      <td>0.83</td>
      <td>211</td>
      <td>-51</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th><a href="gempng/Waalwijk.png">Waalwijk</a></th>
      <td>246</td>
      <td>-16</td>
      <td>0.83</td>
      <td>230</td>
      <td>-51</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Mook%5C%20en%5C%20Middelaar.png">Mook en Middelaar</a></th>
      <td>247</td>
      <td>71</td>
      <td>0.83</td>
      <td>318</td>
      <td>31</td>
      <td>0.65</td>
    </tr>
    <tr>
      <th><a href="gempng/Bloemendaal.png">Bloemendaal</a></th>
      <td>248</td>
      <td>42</td>
      <td>0.83</td>
      <td>290</td>
      <td>33</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th><a href="gempng/Hulst.png">Hulst</a></th>
      <td>249</td>
      <td>57</td>
      <td>0.82</td>
      <td>306</td>
      <td>-23</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Leidschendam%5C-Voorburg.png">Leidschendam-Voorburg</a></th>
      <td>250</td>
      <td>-19</td>
      <td>0.82</td>
      <td>231</td>
      <td>-11</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/De%5C%20Ronde%5C%20Venen.png">De Ronde Venen</a></th>
      <td>251</td>
      <td>0</td>
      <td>0.82</td>
      <td>251</td>
      <td>-11</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Teylingen.png">Teylingen</a></th>
      <td>252</td>
      <td>28</td>
      <td>0.82</td>
      <td>280</td>
      <td>8</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Oirschot.png">Oirschot</a></th>
      <td>253</td>
      <td>18</td>
      <td>0.82</td>
      <td>271</td>
      <td>-35</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Peel%5C%20en%5C%20Maas.png">Peel en Maas</a></th>
      <td>254</td>
      <td>42</td>
      <td>0.82</td>
      <td>296</td>
      <td>23</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th><a href="gempng/Alphen%5C%20aan%5C%20den%5C%20Rijn.png">Alphen aan den Rijn</a></th>
      <td>255</td>
      <td>-45</td>
      <td>0.82</td>
      <td>210</td>
      <td>-37</td>
      <td>0.87</td>
    </tr>
    <tr>
      <th><a href="gempng/Rotterdam.png">Rotterdam</a></th>
      <td>256</td>
      <td>19</td>
      <td>0.82</td>
      <td>275</td>
      <td>15</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/West%5C%20Maas%5C%20en%5C%20Waal.png">West Maas en Waal</a></th>
      <td>257</td>
      <td>-67</td>
      <td>0.81</td>
      <td>190</td>
      <td>106</td>
      <td>0.92</td>
    </tr>
    <tr>
      <th><a href="gempng/Noardeast%5C-Frysl%C3%A2n.png">Noardeast-Fryslân</a></th>
      <td>258</td>
      <td>14</td>
      <td>0.81</td>
      <td>272</td>
      <td>29</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Rijssen%5C-Holten.png">Rijssen-Holten</a></th>
      <td>259</td>
      <td>-7</td>
      <td>0.81</td>
      <td>252</td>
      <td>-6</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Pijnacker%5C-Nootdorp.png">Pijnacker-Nootdorp</a></th>
      <td>260</td>
      <td>-19</td>
      <td>0.81</td>
      <td>241</td>
      <td>32</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th><a href="gempng/Hof%5C%20van%5C%20Twente.png">Hof van Twente</a></th>
      <td>261</td>
      <td>-13</td>
      <td>0.81</td>
      <td>248</td>
      <td>23</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th><a href="gempng/Veldhoven.png">Veldhoven</a></th>
      <td>262</td>
      <td>15</td>
      <td>0.80</td>
      <td>277</td>
      <td>-83</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/%27s%5C-Gravenhage.png">'s-Gravenhage</a></th>
      <td>263</td>
      <td>-18</td>
      <td>0.80</td>
      <td>245</td>
      <td>12</td>
      <td>0.81</td>
    </tr>
    <tr>
      <th><a href="gempng/Echt%5C-Susteren.png">Echt-Susteren</a></th>
      <td>264</td>
      <td>46</td>
      <td>0.80</td>
      <td>310</td>
      <td>-7</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th><a href="gempng/Purmerend.png">Purmerend</a></th>
      <td>265</td>
      <td>3</td>
      <td>0.79</td>
      <td>268</td>
      <td>-8</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Hardenberg.png">Hardenberg</a></th>
      <td>266</td>
      <td>-60</td>
      <td>0.79</td>
      <td>206</td>
      <td>-2</td>
      <td>0.88</td>
    </tr>
    <tr>
      <th><a href="gempng/Nijmegen.png">Nijmegen</a></th>
      <td>267</td>
      <td>-1</td>
      <td>0.79</td>
      <td>266</td>
      <td>2</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Aalsmeer.png">Aalsmeer</a></th>
      <td>268</td>
      <td>13</td>
      <td>0.79</td>
      <td>281</td>
      <td>32</td>
      <td>0.75</td>
    </tr>
    <tr>
      <th><a href="gempng/Hellevoetsluis.png">Hellevoetsluis</a></th>
      <td>269</td>
      <td>-57</td>
      <td>0.78</td>
      <td>212</td>
      <td>-43</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Montferland.png">Montferland</a></th>
      <td>270</td>
      <td>34</td>
      <td>0.78</td>
      <td>304</td>
      <td>10</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Blaricum.png">Blaricum</a></th>
      <td>271</td>
      <td>26</td>
      <td>0.78</td>
      <td>297</td>
      <td>-83</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th><a href="gempng/Oost%5C%20Gelre.png">Oost Gelre</a></th>
      <td>272</td>
      <td>43</td>
      <td>0.78</td>
      <td>315</td>
      <td>-33</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th><a href="gempng/Delft.png">Delft</a></th>
      <td>273</td>
      <td>-33</td>
      <td>0.78</td>
      <td>240</td>
      <td>34</td>
      <td>0.83</td>
    </tr>
    <tr>
      <th><a href="gempng/Utrecht.png">Utrecht</a></th>
      <td>274</td>
      <td>-59</td>
      <td>0.77</td>
      <td>215</td>
      <td>-19</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Lisse.png">Lisse</a></th>
      <td>275</td>
      <td>-136</td>
      <td>0.77</td>
      <td>139</td>
      <td>69</td>
      <td>1.01</td>
    </tr>
    <tr>
      <th><a href="gempng/Doesburg.png">Doesburg</a></th>
      <td>276</td>
      <td>18</td>
      <td>0.77</td>
      <td>294</td>
      <td>4</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th><a href="gempng/Reusel%5C-De%5C%20Mierden.png">Reusel-De Mierden</a></th>
      <td>277</td>
      <td>1</td>
      <td>0.77</td>
      <td>278</td>
      <td>14</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Berkelland.png">Berkelland</a></th>
      <td>278</td>
      <td>-107</td>
      <td>0.76</td>
      <td>171</td>
      <td>66</td>
      <td>0.96</td>
    </tr>
    <tr>
      <th><a href="gempng/Roermond.png">Roermond</a></th>
      <td>279</td>
      <td>22</td>
      <td>0.76</td>
      <td>301</td>
      <td>-7</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Zevenaar.png">Zevenaar</a></th>
      <td>280</td>
      <td>-61</td>
      <td>0.76</td>
      <td>219</td>
      <td>13</td>
      <td>0.86</td>
    </tr>
    <tr>
      <th><a href="gempng/Waalre.png">Waalre</a></th>
      <td>281</td>
      <td>35</td>
      <td>0.76</td>
      <td>316</td>
      <td>-4</td>
      <td>0.66</td>
    </tr>
    <tr>
      <th><a href="gempng/Maasgouw.png">Maasgouw</a></th>
      <td>282</td>
      <td>31</td>
      <td>0.75</td>
      <td>313</td>
      <td>-5</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th><a href="gempng/Beuningen.png">Beuningen</a></th>
      <td>283</td>
      <td>12</td>
      <td>0.75</td>
      <td>295</td>
      <td>16</td>
      <td>0.71</td>
    </tr>
    <tr>
      <th><a href="gempng/Borsele.png">Borsele</a></th>
      <td>284</td>
      <td>27</td>
      <td>0.75</td>
      <td>311</td>
      <td>-215</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th><a href="gempng/Midden%5C-Drenthe.png">Midden-Drenthe</a></th>
      <td>285</td>
      <td>-59</td>
      <td>0.74</td>
      <td>226</td>
      <td>71</td>
      <td>0.85</td>
    </tr>
    <tr>
      <th><a href="gempng/Hendrik%5C-Ido%5C-Ambacht.png">Hendrik-Ido-Ambacht</a></th>
      <td>286</td>
      <td>-17</td>
      <td>0.74</td>
      <td>269</td>
      <td>-8</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Krimpen%5C%20aan%5C%20den%5C%20IJssel.png">Krimpen aan den IJssel</a></th>
      <td>287</td>
      <td>-23</td>
      <td>0.74</td>
      <td>264</td>
      <td>-73</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Voerendaal.png">Voerendaal</a></th>
      <td>288</td>
      <td>-140</td>
      <td>0.74</td>
      <td>148</td>
      <td>-23</td>
      <td>1.00</td>
    </tr>
    <tr>
      <th><a href="gempng/Soest.png">Soest</a></th>
      <td>289</td>
      <td>-1</td>
      <td>0.74</td>
      <td>288</td>
      <td>-47</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Houten.png">Houten</a></th>
      <td>290</td>
      <td>3</td>
      <td>0.73</td>
      <td>293</td>
      <td>14</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th><a href="gempng/Bronckhorst.png">Bronckhorst</a></th>
      <td>291</td>
      <td>-106</td>
      <td>0.73</td>
      <td>185</td>
      <td>-58</td>
      <td>0.93</td>
    </tr>
    <tr>
      <th><a href="gempng/Moerdijk.png">Moerdijk</a></th>
      <td>292</td>
      <td>-32</td>
      <td>0.73</td>
      <td>260</td>
      <td>-80</td>
      <td>0.79</td>
    </tr>
    <tr>
      <th><a href="gempng/Montfoort.png">Montfoort</a></th>
      <td>293</td>
      <td>-37</td>
      <td>0.73</td>
      <td>256</td>
      <td>-67</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Sliedrecht.png">Sliedrecht</a></th>
      <td>294</td>
      <td>-27</td>
      <td>0.73</td>
      <td>267</td>
      <td>14</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Drimmelen.png">Drimmelen</a></th>
      <td>295</td>
      <td>5</td>
      <td>0.73</td>
      <td>300</td>
      <td>-46</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Beverwijk.png">Beverwijk</a></th>
      <td>296</td>
      <td>21</td>
      <td>0.73</td>
      <td>317</td>
      <td>16</td>
      <td>0.65</td>
    </tr>
    <tr>
      <th><a href="gempng/Pekela.png">Pekela</a></th>
      <td>297</td>
      <td>35</td>
      <td>0.73</td>
      <td>332</td>
      <td>18</td>
      <td>0.55</td>
    </tr>
    <tr>
      <th><a href="gempng/Heerhugowaard.png">Heerhugowaard</a></th>
      <td>298</td>
      <td>-56</td>
      <td>0.72</td>
      <td>242</td>
      <td>-59</td>
      <td>0.82</td>
    </tr>
    <tr>
      <th><a href="gempng/Zaltbommel.png">Zaltbommel</a></th>
      <td>299</td>
      <td>-23</td>
      <td>0.72</td>
      <td>276</td>
      <td>-45</td>
      <td>0.76</td>
    </tr>
    <tr>
      <th><a href="gempng/Rheden.png">Rheden</a></th>
      <td>300</td>
      <td>-18</td>
      <td>0.72</td>
      <td>282</td>
      <td>-10</td>
      <td>0.74</td>
    </tr>
    <tr>
      <th><a href="gempng/Almelo.png">Almelo</a></th>
      <td>301</td>
      <td>-2</td>
      <td>0.71</td>
      <td>299</td>
      <td>-20</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Tiel.png">Tiel</a></th>
      <td>302</td>
      <td>-19</td>
      <td>0.71</td>
      <td>283</td>
      <td>-19</td>
      <td>0.74</td>
    </tr>
    <tr>
      <th><a href="gempng/Hilversum.png">Hilversum</a></th>
      <td>303</td>
      <td>5</td>
      <td>0.71</td>
      <td>308</td>
      <td>-31</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th><a href="gempng/Landsmeer.png">Landsmeer</a></th>
      <td>304</td>
      <td>-66</td>
      <td>0.71</td>
      <td>238</td>
      <td>-13</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Brunssum.png">Brunssum</a></th>
      <td>305</td>
      <td>-2</td>
      <td>0.71</td>
      <td>303</td>
      <td>18</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Vijfheerenlanden.png">Vijfheerenlanden</a></th>
      <td>306</td>
      <td>-14</td>
      <td>0.71</td>
      <td>292</td>
      <td>-41</td>
      <td>0.72</td>
    </tr>
    <tr>
      <th><a href="gempng/Westerveld.png">Westerveld</a></th>
      <td>307</td>
      <td>0</td>
      <td>0.71</td>
      <td>307</td>
      <td>22</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th><a href="gempng/Vlaardingen.png">Vlaardingen</a></th>
      <td>308</td>
      <td>-19</td>
      <td>0.71</td>
      <td>289</td>
      <td>-9</td>
      <td>0.73</td>
    </tr>
    <tr>
      <th><a href="gempng/Schouwen%5C-Duiveland.png">Schouwen-Duiveland</a></th>
      <td>309</td>
      <td>25</td>
      <td>0.70</td>
      <td>334</td>
      <td>-4</td>
      <td>0.53</td>
    </tr>
    <tr>
      <th><a href="gempng/Bergen%5C%20op%5C%20Zoom.png">Bergen op Zoom</a></th>
      <td>310</td>
      <td>-5</td>
      <td>0.70</td>
      <td>305</td>
      <td>-40</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Gooise%5C%20Meren.png">Gooise Meren</a></th>
      <td>311</td>
      <td>-46</td>
      <td>0.70</td>
      <td>265</td>
      <td>-35</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Roerdalen.png">Roerdalen</a></th>
      <td>312</td>
      <td>-3</td>
      <td>0.70</td>
      <td>309</td>
      <td>-47</td>
      <td>0.69</td>
    </tr>
    <tr>
      <th><a href="gempng/Gemert%5C-Bakel.png">Gemert-Bakel</a></th>
      <td>313</td>
      <td>-11</td>
      <td>0.69</td>
      <td>302</td>
      <td>4</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Laren.png">Laren</a></th>
      <td>314</td>
      <td>16</td>
      <td>0.69</td>
      <td>330</td>
      <td>-10</td>
      <td>0.56</td>
    </tr>
    <tr>
      <th><a href="gempng/Stede%5C%20Broec.png">Stede Broec</a></th>
      <td>315</td>
      <td>5</td>
      <td>0.68</td>
      <td>320</td>
      <td>-29</td>
      <td>0.64</td>
    </tr>
    <tr>
      <th><a href="gempng/Drechterland.png">Drechterland</a></th>
      <td>316</td>
      <td>13</td>
      <td>0.68</td>
      <td>329</td>
      <td>-54</td>
      <td>0.57</td>
    </tr>
    <tr>
      <th><a href="gempng/De%5C%20Bilt.png">De Bilt</a></th>
      <td>317</td>
      <td>-3</td>
      <td>0.68</td>
      <td>314</td>
      <td>3</td>
      <td>0.67</td>
    </tr>
    <tr>
      <th><a href="gempng/Huizen.png">Huizen</a></th>
      <td>318</td>
      <td>-56</td>
      <td>0.68</td>
      <td>262</td>
      <td>-43</td>
      <td>0.78</td>
    </tr>
    <tr>
      <th><a href="gempng/Alphen%5C-Chaam.png">Alphen-Chaam</a></th>
      <td>319</td>
      <td>-60</td>
      <td>0.67</td>
      <td>259</td>
      <td>-96</td>
      <td>0.79</td>
    </tr>
    <tr>
      <th><a href="gempng/Kerkrade.png">Kerkrade</a></th>
      <td>320</td>
      <td>-22</td>
      <td>0.66</td>
      <td>298</td>
      <td>20</td>
      <td>0.70</td>
    </tr>
    <tr>
      <th><a href="gempng/Lopik.png">Lopik</a></th>
      <td>321</td>
      <td>2</td>
      <td>0.66</td>
      <td>323</td>
      <td>2</td>
      <td>0.60</td>
    </tr>
    <tr>
      <th><a href="gempng/Hilvarenbeek.png">Hilvarenbeek</a></th>
      <td>322</td>
      <td>4</td>
      <td>0.64</td>
      <td>326</td>
      <td>6</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th><a href="gempng/Hardinxveld%5C-Giessendam.png">Hardinxveld-Giessendam</a></th>
      <td>323</td>
      <td>-2</td>
      <td>0.64</td>
      <td>321</td>
      <td>-34</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th><a href="gempng/Sluis.png">Sluis</a></th>
      <td>324</td>
      <td>4</td>
      <td>0.64</td>
      <td>328</td>
      <td>-35</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th><a href="gempng/Brielle.png">Brielle</a></th>
      <td>325</td>
      <td>13</td>
      <td>0.63</td>
      <td>338</td>
      <td>-2</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th><a href="gempng/Oss.png">Oss</a></th>
      <td>326</td>
      <td>-1</td>
      <td>0.63</td>
      <td>325</td>
      <td>9</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th><a href="gempng/Olst%5C-Wijhe.png">Olst-Wijhe</a></th>
      <td>327</td>
      <td>-3</td>
      <td>0.63</td>
      <td>324</td>
      <td>22</td>
      <td>0.59</td>
    </tr>
    <tr>
      <th><a href="gempng/Hattem.png">Hattem</a></th>
      <td>328</td>
      <td>-89</td>
      <td>0.62</td>
      <td>239</td>
      <td>4</td>
      <td>0.84</td>
    </tr>
    <tr>
      <th><a href="gempng/Simpelveld.png">Simpelveld</a></th>
      <td>329</td>
      <td>-76</td>
      <td>0.62</td>
      <td>253</td>
      <td>2</td>
      <td>0.80</td>
    </tr>
    <tr>
      <th><a href="gempng/Krimpenerwaard.png">Krimpenerwaard</a></th>
      <td>330</td>
      <td>-72</td>
      <td>0.61</td>
      <td>258</td>
      <td>-112</td>
      <td>0.79</td>
    </tr>
    <tr>
      <th><a href="gempng/Veere.png">Veere</a></th>
      <td>331</td>
      <td>8</td>
      <td>0.61</td>
      <td>339</td>
      <td>-54</td>
      <td>0.50</td>
    </tr>
    <tr>
      <th><a href="gempng/Goes.png">Goes</a></th>
      <td>332</td>
      <td>11</td>
      <td>0.59</td>
      <td>343</td>
      <td>-43</td>
      <td>0.48</td>
    </tr>
    <tr>
      <th><a href="gempng/Grave.png">Grave</a></th>
      <td>333</td>
      <td>-6</td>
      <td>0.59</td>
      <td>327</td>
      <td>-12</td>
      <td>0.58</td>
    </tr>
    <tr>
      <th><a href="gempng/Vlissingen.png">Vlissingen</a></th>
      <td>334</td>
      <td>8</td>
      <td>0.55</td>
      <td>342</td>
      <td>-11</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th><a href="gempng/Rucphen.png">Rucphen</a></th>
      <td>335</td>
      <td>-2</td>
      <td>0.55</td>
      <td>333</td>
      <td>7</td>
      <td>0.54</td>
    </tr>
    <tr>
      <th><a href="gempng/Mill%5C%20en%5C%20Sint%5C%20Hubert.png">Mill en Sint Hubert</a></th>
      <td>336</td>
      <td>-17</td>
      <td>0.55</td>
      <td>319</td>
      <td>-96</td>
      <td>0.64</td>
    </tr>
    <tr>
      <th><a href="gempng/Eemnes.png">Eemnes</a></th>
      <td>337</td>
      <td>7</td>
      <td>0.53</td>
      <td>344</td>
      <td>-6</td>
      <td>0.47</td>
    </tr>
    <tr>
      <th><a href="gempng/Zundert.png">Zundert</a></th>
      <td>338</td>
      <td>-1</td>
      <td>0.51</td>
      <td>337</td>
      <td>-9</td>
      <td>0.51</td>
    </tr>
    <tr>
      <th><a href="gempng/Zwijndrecht.png">Zwijndrecht</a></th>
      <td>339</td>
      <td>-3</td>
      <td>0.51</td>
      <td>336</td>
      <td>-12</td>
      <td>0.52</td>
    </tr>
    <tr>
      <th><a href="gempng/Wijdemeren.png">Wijdemeren</a></th>
      <td>340</td>
      <td>6</td>
      <td>0.49</td>
      <td>346</td>
      <td>-11</td>
      <td>0.46</td>
    </tr>
    <tr>
      <th><a href="gempng/Heerde.png">Heerde</a></th>
      <td>341</td>
      <td>-1</td>
      <td>0.48</td>
      <td>340</td>
      <td>-1</td>
      <td>0.50</td>
    </tr>
    <tr>
      <th><a href="gempng/Weesp.png">Weesp</a></th>
      <td>342</td>
      <td>-11</td>
      <td>0.48</td>
      <td>331</td>
      <td>13</td>
      <td>0.55</td>
    </tr>
    <tr>
      <th><a href="gempng/Boekel.png">Boekel</a></th>
      <td>343</td>
      <td>-21</td>
      <td>0.48</td>
      <td>322</td>
      <td>0</td>
      <td>0.62</td>
    </tr>
    <tr>
      <th><a href="gempng/Brummen.png">Brummen</a></th>
      <td>344</td>
      <td>1</td>
      <td>0.48</td>
      <td>345</td>
      <td>-3</td>
      <td>0.47</td>
    </tr>
    <tr>
      <th><a href="gempng/Renswoude.png">Renswoude</a></th>
      <td>345</td>
      <td>-75</td>
      <td>0.46</td>
      <td>270</td>
      <td>57</td>
      <td>0.77</td>
    </tr>
    <tr>
      <th><a href="gempng/Dalfsen.png">Dalfsen</a></th>
      <td>346</td>
      <td>3</td>
      <td>0.45</td>
      <td>349</td>
      <td>-8</td>
      <td>0.41</td>
    </tr>
    <tr>
      <th><a href="gempng/Alblasserdam.png">Alblasserdam</a></th>
      <td>347</td>
      <td>-6</td>
      <td>0.42</td>
      <td>341</td>
      <td>-4</td>
      <td>0.49</td>
    </tr>
    <tr>
      <th><a href="gempng/Waterland.png">Waterland</a></th>
      <td>348</td>
      <td>-1</td>
      <td>0.41</td>
      <td>347</td>
      <td>1</td>
      <td>0.44</td>
    </tr>
    <tr>
      <th><a href="gempng/Sint%5C-Michielsgestel.png">Sint-Michielsgestel</a></th>
      <td>349</td>
      <td>-1</td>
      <td>0.40</td>
      <td>348</td>
      <td>-5</td>
      <td>0.42</td>
    </tr>
    <tr>
      <th><a href="gempng/Edam%5C-Volendam.png">Edam-Volendam</a></th>
      <td>350</td>
      <td>0</td>
      <td>0.40</td>
      <td>350</td>
      <td>-3</td>
      <td>0.37</td>
    </tr>
    <tr>
      <th><a href="gempng/Texel.png">Texel</a></th>
      <td>351</td>
      <td>2</td>
      <td>0.27</td>
      <td>353</td>
      <td>-1</td>
      <td>0.12</td>
    </tr>
    <tr>
      <th><a href="gempng/Beemster.png">Beemster</a></th>
      <td>352</td>
      <td>-1</td>
      <td>0.26</td>
      <td>351</td>
      <td>0</td>
      <td>0.31</td>
    </tr>
    <tr>
      <th><a href="gempng/Noord%5C-Beveland.png">Noord-Beveland</a></th>
      <td>353</td>
      <td>-1</td>
      <td>0.24</td>
      <td>352</td>
      <td>-199</td>
      <td>0.25</td>
    </tr>
  </tbody>
</table>